.footer {
     background-color: #C2B5AB;
     color: #2f2f2f;
     text-align: center;
     padding: 20px 0;
}

.footer a {
     text-decoration: none; 
     color: inherit; 
}

.footer-icons {
     margin-bottom: 10px;
}

.footer-icons a {
     color: white;
     margin: 0 10px;
     font-size: 30px;
     transition: color 0.3s ease;
}

.footer-icons a:hover {
     color: #C2B5AB;
}

.footer-text {
     font-size: 14px;
}