.footer {
     background-color: #000000;
     color: #ffffff;
     text-align: center;
     padding: 20px 0;
}

.footer-icons {
     margin-bottom: 10px;
}

.footer-icons a {
     color: white;
     margin: 0 10px;
     font-size: 30px;
     transition: color 0.3s ease;
}

.footer-icons a:hover {
     color: #C2B5AB;
     /* cor suave ao passar o mouse */
}

.footer-text {
     font-size: 14px;
}