* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
}

/* Espaço no topo para a navbar fixa */
body {
  padding-top: 90px; /* igual à altura da .navbar */
}

h1,
h2,
h3,
h4 {
  font-family: 'Playfair Display', serif;
}