* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
  }
  
  
  .home-wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
  }
  
  .home-img {
    width: 50vw;
    height: 100vh;
    object-fit: cover;
    object-position: top; /* Garante que o topo da imagem seja mantido visível */
  }
  