* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

.home-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.home-img.left {
  width: 50vw; 
  height: 100vh;
  object-fit: cover;
  object-position: center;
  display: block;
}

.home-img.right {
  width: 50vw; 
  height: 100vh;
  object-fit: cover;
  object-position: top center;
  display: block;
}


@media (max-width: 768px) {
  .home-wrapper {
    flex-direction: column;
    height: auto;
  }

  .home-img.left {
    width: 100%;
    height: 25vh;
    object-fit: cover;
    object-position: center;
  }

  .home-img.right {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: top center;
  }
}