* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

.home-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* ou center, se preferir */
  align-items: center;
}

.home-img {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  /* cor de fundo parecida com a da imagem para "disfarçar" bordas */
}



/* Responsividade para telas pequenas */
@media (max-width: 768px) {
  .home-wrapper {
    flex-direction: column;
    display: flex;
    /* <- MANTÉM o Flexbox */
    margin: 0;
    padding: 0;
    height: auto;
    align-items: center;
    justify-content: center;
  }

  .home-img {
    width: 100vw;
    height: auto;
    max-height: none;
    object-fit: contain;
    /* ou cover, dependendo do seu gosto */
    margin: 0;
    padding: 0;
  }
}