.dentist2-section {
  background-color: #C2B5AB;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
}

.dentist2-container {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  background-color: #C2B5AB;
  border-radius: 20px;
  overflow: hidden;
  flex-wrap: wrap;
}

.dentist2-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.dentist2-img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 30px;
}

.dentist2-texto {
  flex: 1;
  color: #333333;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dentist2-texto h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.dentist2-texto p {
  font-size: 1.1rem;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .dentist2-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .dentist2-img {
    max-width: 80%;
  }

  .dentist2-texto {
    padding: 20px;
  }
}